@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

@-webkit-keyframes popup-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popup-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes popup-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes popup-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes popup-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes toast-zoom-in {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes toast-zoom-in {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@-webkit-keyframes toast-fade-out {
  from {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes toast-fade-out {
  from {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) scale(1);
  }
}

/* PWA update popup */
#notification {
  .toast-header {
    background: none;
    border-bottom: none;
    color: inherit;
  }

  .toast-body {
    font-family: Lato, sans-serif;
    line-height: 1.25rem;

    button {
      font-size: 90%;
      min-width: 4rem;
    }

    .toast-title, .toast-text {
      color: var(--text-color) !important;
    }
  }

  &.toast {
    &.show {
      display: block;
      min-width: 20rem;
      border-radius: 0.5rem;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: var(--card-bg-translucent) !important;
      color: #1b1b1eba;
      position: fixed;
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);
      -webkit-animation: toast-zoom-in 0.3s cubic-bezier(0.09, 0.11, 0, 1.14) forwards;
      animation: toast-zoom-in 0.3s cubic-bezier(0.09, 0.11, 0, 1.14) forwards;
    }

    &.hiding,
    &.fade:not(.show) {
      -webkit-animation: toast-fade-out 0.2s ease-out forwards;
      animation: toast-fade-out 0.2s ease-out forwards;
    }
  }
}

#toc-popup {
  $curtain-height: 2rem;
  $backdrop: blur(5px);
  
  box-shadow: 4px 4px 44px -12px rgba(0,0,0,0.75);
  border-color: var(--toc-popup-border-color);
  border-width: 1px;
  border-radius: v.$radius-lg;
  color: var(--text-color);
  background: var(--card-bg);
  margin-top: v.$topbar-height;
  min-width: 20rem;
  font-size: 1.05rem;
  transition: all 100ms linear;

  @include bp.sm {
    max-width: 32rem;
  }

  &[open] {
    -webkit-animation: popup-zoom-in 0.3s cubic-bezier(0.09, 0.11, 0, 1.14) forwards;
    animation: popup-zoom-in 0.3s cubic-bezier(0.09, 0.11, 0, 1.14) forwards;
  }

  &[closing] {
    -webkit-animation: popup-fade-out 0.2s ease-out forwards;
    animation: popup-fade-out 0.2s ease-out forwards;
  }

  @include bp.lg {
    left: v.$sidebar-width;
  }

  .header {
    @extend %btn-color;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: inherit;
    border-bottom: 1px solid var(--main-border-color);

    .label {
      font-family: v.$font-family-heading;
    }
  }

  button {
    > i {
      font-size: 1.25rem;
      vertical-align: middle;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      ul,
      & + li {
        margin-top: 0.25rem;
      }

      a {
        display: flex;
        line-height: 1.5;
        padding: 0.375rem 0;
        padding-right: 1.125rem;

        &.toc-link::before {
          display: none;
        }
      }
    }
  }

  @for $i from 2 through 4 {
    .node-name--H#{$i} {
      padding-left: 1.125rem * ($i - 1);
    }
  }

  .is-active-link {
    color: var(--toc-highlight) !important;
    font-weight: 600;
  }

  &::-webkit-backdrop {
    -webkit-backdrop-filter: $backdrop;
    backdrop-filter: $backdrop;
  }

  &::backdrop {
    -webkit-backdrop-filter: $backdrop;
    backdrop-filter: $backdrop;
    -webkit-animation: popup-fade-in 0.3s cubic-bezier(0.09, 0.11, 0, 1.14) forwards;
    animation: popup-fade-in 0.3s cubic-bezier(0.09, 0.11, 0, 1.14) forwards;
  }
  
  &[closing]::backdrop {
    -webkit-animation: popup-fade-out 0.2s ease-out forwards;
    animation: popup-fade-out 0.2s ease-out forwards;
  }

  &::after {
    display: flex;
    content: '';
    position: relative;
    background: linear-gradient(transparent, var(--card-bg) 70%);
    height: $curtain-height;
  }

  #toc-popup-content {
    overflow: auto;
    max-height: calc(100vh - 4 * v.$topbar-height);
    font-family: v.$font-family-heading;
    margin-bottom: -$curtain-height;
  }
}
