@view-transition {
  navigation: auto;
}

/* Define slide-in / slide-out animations */
::view-transition-old(root) {
  animation: slide-out-left 0.6s var(--spring-ease) forwards;
}
::view-transition-new(root) {
  animation: slide-in-right 0.4s var(--spring-ease) forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%) scale(1.1);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%) scale(0.8);
  }
}
