@view-transition {
  navigation: none;
}

@media (max-width: 768px) {
  @view-transition {
    navigation: auto;
  }

  ::view-transition-old(root) {
    animation: slide-out-left 0.4s var(--spring-ease) forwards;
  }

  ::view-transition-new(root) {
    animation: slide-in-right 0.4s var(--spring-ease) forwards;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%) scale(1.1);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-left {
    from {
      transform: translateX(0);
      // Disabled this coz it's causing some lag on my potato laptop
      // Btw this blur effect should work fine on most modern Android phones
      // filter: blur(0px);
    }

    to {
      transform: translateX(-100%) scale(0.8);
      // filter: blur(4px);
    }
  }
}